@page
@model MascotaFeliz.App.Frontend.Pages.ListPropietariosProvisionalModel
@{
}
<h1>Listado de Propietarios de Mascotas</h1>
<table class="table">
    <tr>
        <td><b>Nombre Completo</b></td>
        <td><b>Número de Teléfono</b></td>
        <td><b>Correo Electrónico</b></td>
    </tr>
    @foreach (var propietario in Model.Propietarios)
    {
        <tr>
            <td>@propietario.Nombre @propietario.Apellidos</td>
            <td>@propietario.NumeroTelefono</td>
            <td>@propietario.CorreoElectronico</td>
        </tr>
    }
</table>
